@charset "UTF-8";

body{
background-color: #f0f0f0;
display: flex;
flex-direction: column;
align-items: center;

}
header{
background-color: black;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;

}

h2{
margin-left: 20px;
}

ul{
list-style-type: none;
display: flex;
}

li{
margin-right: 20px;
}
	
footer{
	background-color: #f0f0f0;
	display:flex;
	padding: 20px;
	border-radius: 8px;
	height:70vh;
	justify-content:center;
	width: 100%;
	
	}
.cm{

	align-content:flex-end;
	width: 300px;	
	
}
.homeMainDiv{
	
	display: flex;
	width: 1500px;
	flex-direction: column;

}
.homeChildDiv{
	display: flex;
	
}

.myInfoMainDiv {
	display: flex;
	width: 1400;
}

  <!-- regist페이지-->
.split--div {
	margin: 20px 0 20px;
}
.table--container {
	width: 500px;
	border: 1px solid #D2D1D1;
	border-width: 1px 0px;
	margin-top: 50px;
}
.first--tr {
	background-color: #f7f6f6;
	height: 30px;
	font-weight: bolder;
}
table tr, td {
	border: 1px solid #D2D1D1;
	border-width: 1px 0px;
	padding: 5px 15px;
}
.button {
	background-color: #023268;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	margin: 5px;
	padding: 3px;
}
input[type="submit"]{
	background-color: #023268;
	border-radius: 5px;
	border: hidden;
	color: #fff;
	text-decoration: none;
	margin: 5px;
	padding: 3px;
}
.button:hover {
	color: #fff;

}
.select--button {
	margin-bottom: 30px;
}

.input--box {
	border: 1px solid #D2D1D1;
	border-radius: 3px;
	height: 35px;
	margin-right: 20px;
	padding: 5px;
}
.form--container {
	margin-top: 30px;
}
.delete {
	font-weight: bold;
}
.button--container {
	margin-left: 200px;
}

