@charset "UTF-8";

body{
background-color: #f0f0f0;
display: flex;
align-items: center;

}
header{
background-color: black;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;

}

h2{
margin-left: 20px;
}

ul{
list-style-type: none;
display: flex;
}

li{
margin-right: 20px;
}
	
footer{
	background-color: #f0f0f0;
	display:flex;
	padding: 20px;
	border-radius: 8px;
	height:70vh;
	justify-content:center;
	width: 100%;
	
	}
.cm{

	align-content:flex-end;
	width: 300px;	
	
}
.homeMainDiv{
	
	display: flex;
	width: 1500px;
	flex-direction: column;

}
.homeChildDiv{
	display: flex;
	
}

.myInfoMainDiv {
	display: flex;
	width: 1400;
}





